body {
	width: 100%;
    background-color: #000000;
    color: #FFFFFF;
    margin: 0;
    font-family: Arial;
}

/*header{
	width:100%;
	padding: 0;
}*/

a{
	text-decoration: none;
}

footer {
	margin-top: 2%;
	text-align:center;
}


a:visited, a:link {
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
}

a:hover, a:active{
	background-color: white;
	color: black;
	/*font-size: 25px;*/
}

header img{
	display: block;
	margin-left:auto;
	margin-right: auto;
}

/*.Menu {
	width: 100%;
}*/

.Menu div{
	width: 33%;
	display: inline-block;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

.Form table{
	table-layout: fixed;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid white;
	border-collapse: collapse;
	margin-top: 1%;

}

.Form th, tr, td {
	border: 1px solid white;
	table-layout: fixed;
	padding: 22px 22px;
}

input[type="checkbox"] {
	width: 12.8px;
}
input{
	width: 190px;
}
select{
	width: 194px;
}

#content {
	padding: 10px 10px;
}

.Facility div {
	display: inline-block;
}

.Facility img {
	width: 35%;
	height: 320px;
}

#text {
	width: 60%;
	padding: 20px 20px;
}

#right {
	text-align: right;
}